.productsTable tbody td p {
  font-size: 0.75rem;
  color: var(--whitent);
}

.mainContainer {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  padding: 40px 75px;
}

.topInputContainer {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  justify-content: space-between;
}

.buildName {
  max-width: 68%;
  min-width: 68%;
  width: 68%;
}

.buildSize {
  max-width: 13%;
  min-width: 13%;
  width: 13%;
}

.imageUrl {
  min-width: 80%;
  max-width: 80%;
}

.buildPrice {
  max-width: 13%;
  min-width: 13%;
  width: 13%;
}

.imageUrlContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}
.imageUrlContainer div {
  width: calc(20% - 15px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.imageUrlContainer div button {
  height: 100%;
  width: calc(50% - 7.5px);
  height: 45px;
  box-shadow: var(--box-shadow);
  color: var(--white);
  font-size: 1rem;
  border: solid 3px var(--orange);
  background: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageUrlContainer div button:disabled {
  filter: grayscale(1);
}

.imageUrlContainer div button:nth-child(1) {
  margin-right: 15px;
}

.productForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
